.dark {
  --accent: #be95ff; /* lavender */
  --green: #42be65; /* green */
  --text: #f7f3f2; /* text */
  --foreground: ##000000; /* crust */
  --background: ##171414; /* base */
  --outside: ##000000; /* crust */
  --post: ##000000; /* crust */
  --panel-border: none;
  --highlighted: ##272525; /* surface0 */
  --visited: #726e6e; /* overlay0 */
  --shadow: 0 0 0 transparent;

  --nsfw: #fe832b; /* peach */
  --admin: #ff8389; /* maroon */
}
