.dark {
  --accent: #a39ec4; /* lavender */
  --green: #8aac8b; /* green */
  --text: #f0f0f0; /* text */
  --foreground: #000000; /* crust */
  --background: #161616; /* base */
  --outside: #000000; /* crust */
  --post: #000000; /* crust */
  --panel-border: none;
  --highlighted: #262626; /* surface0 */
  --visited: #6f6f6f; /* overlay0 */
  --shadow: 0 0 0 transparent;

  --nsfw: #c6a679; /* peach */
  --admin: #ac8a8c; /* maroon */
}
